<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-buttons>
            <ion-button color="medium" (click)="cancel()">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-title class="ion-text-center">Categorys</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="border-round">
    <ion-item *ngFor="let category of categories">
      <ion-icon [name]="category.iconName" slot="start" [style.color]="category.color"></ion-icon>
      <ion-label>{{ category.label }}</ion-label>
      <ion-button fill="clear" slot="end" (click)="deleteCategory(category.id!)">
        <ion-icon color="danger" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="categories.length === 0" class="empty-message">
    <ion-text color="medium">No categories available. Please create a new category.</ion-text>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateCategoryModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

