<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-row class="ion-justify-content-center"><h2><strong>+300€</strong></h2></ion-row>
      <ion-row class="ion-justify-content-center"><p>Account Balance</p></ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-row id="incomes-element" class="ion-align-items-center">
        <ion-col size="auto">
          <ion-icon name="trending-up-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto">
          <ion-row>Incomes</ion-row>
          <ion-row><strong>3000€</strong></ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="auto">
      <ion-row id="expenses-element" class="ion-align-items-center">
        <ion-col size="auto">
          <ion-icon name="trending-down-outline"></ion-icon>
        </ion-col>
        <ion-col size="auto">
          <ion-row>Expenses</ion-row>
          <ion-row><strong>300€</strong></ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!--<ion-row> TODO: Add the Diagram
    <div>Diagram for the settet values</div>
    <ion-segment value="timeperiod">
      <ion-segment-button value="today">
        <ion-label>Today</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label>Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="month">
        <ion-label>Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="year">
        <ion-label>Year</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>-->

  <ion-row>
    <h5>Recent Transaction</h5>
  </ion-row>

  <ion-row>
    <transaction-list class="w-100"
                      [transactions]="transactions"
                      [selectedMonth]="selectedMonth"
    ></transaction-list>
  </ion-row>
</ion-grid>
