<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="2">
      <ion-row class="ion-justify-content-center">
        <ion-icon name="car-outline"></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row><strong>Transport</strong></ion-row>
      <ion-row>fuel stop</ion-row>
    </ion-col>
    <ion-col>
      <ion-row class="ion-justify-content-end"><strong>-120€</strong></ion-row>
      <ion-row class="ion-justify-content-end">10:00 Uhr</ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
