<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-buttons>
            <ion-button color="medium" (click)="cancel()">
              <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-title class="ion-text-center">Detail Transaction</ion-title>
        </ion-col>
        <ion-col class="d-grid ion-justify-content-end">
          <ion-button fill="clear" id="open-modal-remove-transaction">
            <ion-icon color="danger" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <div class="ion-padding-bottom">
      <div [ngClass]="isExpense ? 'ion-content-expense' : 'ion-content-income'">
        <ion-row class="ion-text-center">
          <ion-col>
            <h1>{{ transaction.amount | currency:'EUR' }}</h1>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <p>{{ transaction.timestamp | date:'EEEE, d MMMM y HH:mm' }}</p>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <ion-row class="custom-background-type-category ion-text-center">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text color="medium">Type</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{isExpense ? 'Expense' : 'Income' }}
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text color="medium">Category</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ transaction.category }}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-vertical">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text color="medium">Description</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{ transaction.description }}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text color="medium">Attachment</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Attachment placeholder</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-button (click)="toggleEditMode()">Edit</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-modal #modal trigger="open-modal-remove-transaction" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-content>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-text>Remove this transaction?</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button (click)="closeModal()">No</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="onDeleteTransaction()">Yes</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
