.custom-background-type-category{
  background: var(--ion-color-step-100);
  border-radius: 25px;
}

.ion-content-expense{
  background: var(--ion-color-danger);
  border-radius: 25px;
}
.ion-content-income{
  background: var(--ion-color-success);
  border-radius: 25px;
}
