<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-title class="ion-hide-md-down">Transaction</ion-title>
        </ion-col>
        <ion-col class="d-flex ion-justify-content-center">
          <select-month (monthChanged)="onMonthChanged($event)"></select-month>
        </ion-col>
        <ion-col class="d-flex ion-justify-content-end">
          <!--TODO: Add badge to see if a filter is settet-->
          <ion-button (click)="openFilterModal()" class="ion-padding-horizontal">
            <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transaction</ion-title>
    </ion-toolbar>
  </ion-header>

  <transaction-page [selectedMonth]="selectedMonth" [filter]="filter"></transaction-page>
</ion-content>

<filter-transaction-list (filterApplied)="onFilterApplied($event)"></filter-transaction-list>

